.input{
    padding:10px;
    border-radius: 15px;
    width:50vw;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: greenyellow !important;
}


/* --SingleLocation-- */
.tab-row{
    font-size: 25px;
    border-radius: 10px;
    
}